<div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" style="background-color: green; border-radius: 14px; padding-right: 4px; padding-left: 4px;" href="#">Quick Software Tutorial</a>
</div>
<div class="collapse navbar-collapse" id="myNavbar">
  <ul class="nav navbar-nav">
    <!-- <li id="homeLinkId" class="active"><a style="border-radius: 10px;" href="#homepage">Home</a></li> -->
    <!-- <li header-link-hilighter id="homeLinkId"><a style="border-radius: 10px;" href="#homepage">Home</a></li> -->
  	<li id="homeLinkId" class="header-link"><a href="#homepage" style="padding-right: 10px; padding-left: 10px; padding-top: 12px; color: white;"><strong>Home</strong></a></li>
	  <li id="javaLinkId" class="header-link"><a style="padding-right: 10px; padding-left: 10px; padding-top: 12px; color: white;" href="#java"><strong>Java</strong></a></li>
	  <li id="htmlLinkId" class="header-link"><a style="padding-right: 10px; padding-left: 10px; padding-top: 12px; color: white;" href="#html"><strong>HTML</strong></a></li>
	  <li id="cssLinkId" class="header-link"><a style="padding-right: 10px; padding-left: 10px; padding-top: 12px; color: white;" href="#css"><strong>CSS</strong></a></li>
	  <li id="javascriptLinkId" class="header-link"><a style="padding-right: 10px; padding-left: 10px; padding-top: 12px; color: white;" href="#javascript"><strong>Javascript</strong></a></li>
    <li id="ajaxLinkId" class="header-link"><a style="padding-right: 10px; padding-left: 10px; padding-top: 12px; color: white;" href="#ajax"><strong>Ajax</strong></a></li>
    <li id="bootstrapLinkId" class="header-link"><a style="padding-right: 10px; padding-left: 10px; padding-top: 12px; color: white;" href="#bootstrap"><strong>Bootstrap</strong></a></li>
	  <li class="dropdown header-link"><a class="dropdown-toggle" style="padding-right: 10px; padding-left: 10px; padding-top: 12px; color: white;" data-toggle="dropdown"><strong>JS Framework </strong><span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li id="jqueryLinkId"><a href="#jquery"><strong>JQuery</strong></a></li>
        <li id="angularjsLinkId"><a href="#angularjs"><strong>AngularJS</strong></a></li>
        <li id="extjsLinkId"><a href="#extjs"><strong>ExtJS</strong></a></li>
        <li id="emberjsLinkId"><a href="#emberjs"><strong>EmberJS</strong></a></li>
        <li id="requirejsLinkId"><a href="#requirejs"><strong>RequireJS</strong></a></li>
        <li id="gruntjsLinkId"><a href="#gruntjs"><strong>GruntJS</strong></a></li>
        <li id="nodejsLinkId"><a href="#nodejs"><strong>NodeJS</strong></a></li>
      </ul>
    </li>
    <li class="dropdown header-link"><a class="dropdown-toggle" style="padding-right: 10px; padding-left: 10px; padding-top: 12px; color: white;" data-toggle="dropdown"><strong>J2EE Framework </strong><span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li id="servletLinkId"><a href="#servlet"><strong>Servlet</strong></a></li>
        <li id="jspLinkId"><a href="#jsp"><strong>JSP</strong></a></li>
        <li id="springLinkId"><a href="#spring"><strong>Spring</strong></a></li>
        <li id="strutsLinkId"><a href="#struts"><strong>Struts</strong></a></li>
        <li id="hibernateLinkId"><a href="#hibernate"><strong>Hibernate</strong></a></li>
        <li id="jsfLinkId"><a href="#jsf"><strong>Java Server Faces</strong></a></li>
        <li id="jpaLinkId"><a href="#jpa"><strong>Java Persistence API</strong></a></li>
      </ul>
    </li>
    <li class="dropdown header-link"><a class="dropdown-toggle" style="padding-right: 10px; padding-left: 10px; padding-top: 12px; color: white;" data-toggle="dropdown"><strong>Database </strong><span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li id="sqlLinkId"><a href="#sql"><strong>SQL</strong></a></li>
        <li id="plsqlLinkId"><a href="#plsql"><strong>PLSQL</strong></a></li>
      </ul>
    </li>
  </ul>
  <!-- <ul class="nav navbar-nav navbar-right">
    <li><a ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
  </ul> -->
</div>
