<nav class="navbar navbar-inverse">
  <div class="container-fluid common-background-color">

	<div ng-include="'app/view/header.html'"></div>

	<!-- <ul class="breadcrumb">
		<li><a href="#">Home</a></li>
		<li><a href="#">{{customer name}}</a></li>
		<li><a href="#">Details</a></li>
	</ul> -->
	<div class="demo-container demo-container-style">
		<p class="whiteStyle font-size-breadcrumb">
			&nbsp;
			<a href="#homepage">Home</a> >
		</p>
		<p class="whiteStyle font-size-title">&nbsp;Learn On The Fly !!!!!</p>
	  	<div class="container whiteStyle">
		  <!-- <div class="jumbotron">
		    <h1>My First Bootstrap Page</h1>
		    <p>Resize this responsive page to see the effect!</p> 
		  </div> -->
		  <div class="row">
		    <div class="col-xs-4 col-sm-2 col-md-1 icon-style">
		      <a href="#java">
		      	<img src="images/java-icon.jpg" class="img-rounded img-responsive" alt="Java">
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 col-md-1 icon-style">
		      <a href="#html">
		      	<img src="images/html-icon.jpg" class="img-rounded img-responsive" alt="HTML">
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 col-md-1 icon-style">
		      <a href="#css">
		      	<img src="images/css-icon.jpg" class="img-rounded img-responsive" alt="CSS">
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 col-md-1 icon-style">
		      <a href="#javascript">
		      	<img src="images/javascript-icon.jpg" class="img-rounded img-responsive" alt="Javascript">
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 col-md-1 icon-style">
		      <a href="#ajax">
		      	<img src="images/ajax-icon.jpg" class="img-rounded img-responsive" alt="Ajax">
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 col-md-1 icon-style">
		      <a href="#bootstrap">
		      	<img src="images/bootstrap-icon.jpg" class="img-rounded img-responsive" alt="Bootstrap">
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 col-md-1 icon-style">
		      <a href="#jquery">
		      	<img src="images/jquery-icon.jpg" class="img-rounded img-responsive" alt="JQuery">
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 col-md-1 icon-style">
		      <a href="#angularjs">
		      	<img src="images/angularjs-icon.jpg" class="img-rounded img-responsive" alt="Angular JS">
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 col-md-1 icon-style">
		      <a href="#extjs">
		      	<img src="images/extjs-icon.jpg" class="img-rounded img-responsive" alt="Ext JS">
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 col-md-1 icon-style">
		      <a href="#emberjs">
		      	<img src="images/emberjs-icon.jpg" class="img-rounded img-responsive" alt="Ember JS">
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 col-md-1 icon-style">
		      <a href="#requirejs">
		      	<img src="images/requirejs-icon.jpg" class="img-rounded img-responsive" alt="Require JS">
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 col-md-1 icon-style">
		      <a href="#gruntjs">
		      	<img src="images/gruntjs-icon.jpg" class="img-rounded img-responsive" alt="Grunt JS">
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 col-md-1 icon-style">
		      <a href="#nodejs">
		      	<img src="images/nodejs-icon.jpg" class="img-rounded img-responsive" alt="Node JS">
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 col-md-1 icon-style">
		      <a href="#servlet">
		      	<img src="images/servlet-icon.jpg" class="img-rounded img-responsive" alt="Servlet">
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 col-md-1 icon-style">
		      <a href="#jsp">
		      	<img src="images/jsp-icon.jpg" class="img-rounded img-responsive" alt="JSP">
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 col-md-1 icon-style">
		      <a href="#spring">
		      	<img src="images/spring-icon.jpg" class="img-rounded img-responsive" alt="Spring">
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 col-md-1 icon-style">
		      <a href="#struts">
		      	<img src="images/struts-icon.jpg" class="img-rounded img-responsive" alt="Struts">
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 col-md-1 icon-style">
		      <a href="#hibernate">
		      	<img src="images/hibernate-icon.jpg" class="img-rounded img-responsive" alt="Hibernate">
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 col-md-1 icon-style">
		      <a href="#jsf">
		      	<img src="images/jsf-icon.jpg" class="img-rounded img-responsive" alt="Java Server Faces">
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 col-md-1 icon-style">
		      <a href="#jpa">
		      	<img src="images/jpa-icon.jpg" class="img-rounded img-responsive" alt="Java Persistence API">
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 col-md-1 icon-style">
		      <a href="#sql">
		      	<img src="images/sql-icon.jpg" class="img-rounded img-responsive" alt="SQL">
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 col-md-1 icon-style">
		      <a href="#plsql">
		      	<img src="images/plsql-icon.jpg" class="img-rounded img-responsive" alt="PLSQL">
		      </a>
		    </div>
		</div>
	</div>
</div>
</nav>

<div ng-include="'app/view/footer.html'"></div>
