<nav class="navbar navbar-inverse">
  <div class="container-fluid common-background-color">

	<div ng-include="'app/view/header.html'"></div>

	<!-- <ul class="breadcrumb">
		<li><a href="#">Home</a></li>
		<li><a href="#">{{customer name}}</a></li>
		<li><a href="#">Details</a></li>
	</ul> -->
	<div class="demo-container demo-container-style">
	  	<p class="whiteStyle font-size-breadcrumb">
			&nbsp;
			<a href="#homepage">Home</a> > 
			<a href="#hibernate">Hibernate</a> >
		</p>
		<p class="whiteStyle font-size-title">&nbsp;Hibernate</p>
	  	<div class="container whiteStyle">
		  <!-- <div class="jumbotron">
		    <h1>My First Bootstrap Page</h1>
		    <p>Resize this responsive page to see the effect!</p> 
		  </div> -->
		  <div class="row">
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#hibernate">
		      	<!-- <h4>Chapter 1</h4> -->
		      	<p><strong>Introduction</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#hibernate_architecture">
		      	<!-- <h4>Chapter 1</h4> -->
		      	<p><strong>Architecture</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#hibernate">
		      	<!-- <h4>Chapter 1</h4> -->
		      	<p><strong>Sample Application</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#hibernate">
		      	<!-- <h4>Chapter 1</h4> -->
		      	<p><strong>Hibernate Annotation</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#hibernate">
		      	<!-- <h4>Chapter 1</h4> -->
		      	<p><strong>Hibernate Dialects</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#hibernate_generator_classes">
		      	<!-- <h4>Chapter 1</h4> -->
		      	<p><strong>Generator Classes</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#hibernate_mapping">
		      	<!-- <h4>Chapter 1</h4> -->
		      	<p><strong>Hibernate Mapping</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#hibernate_collection_mapping">
		      	<!-- <h4>Chapter 1</h4> -->
		      	<p><strong>Collection Mapping</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#hibernate_association_mapping">
		      	<!-- <h4>Chapter 1</h4> -->
		      	<p><strong>Association Mapping</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#hibernate_inheritance">
		      	<!-- <h4>Chapter 1</h4> -->
		      	<p><strong>Inheritance</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#hibernate">
		      	<!-- <h4>Chapter 1</h4> -->
		      	<p><strong>Transaction Management</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#hibernate_criteria_query_language">
		      	<!-- <h4>Chapter 1</h4> -->
		      	<p><strong>Criteria Query Language</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#hibernate">
		      	<!-- <h4>Chapter 1</h4> -->
		      	<p><strong>Hibernate Query Language</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#hibernate">
		      	<!-- <h4>Chapter 1</h4> -->
		      	<p><strong>Hibernate Named Query</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#hibernate">
		      	<!-- <h4>Chapter 1</h4> -->
		      	<p><strong>Hibernate Native Query</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#hibernate_caching">
		      	<!-- <h4>Chapter 1</h4> -->
		      	<p><strong>Hibernate Caching</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#hibernate">
		      	<!-- <h4>Chapter 1</h4> -->
		      	<p><strong>Hibernate Batch Processing</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#hibernate_integration">
		      	<!-- <h4>Chapter 1</h4> -->
		      	<p><strong>Hibernate Integration</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#hibernate">
		      	<!-- <h4>Chapter 1</h4> -->
		      	<p><strong>Quiz and Interview Questions</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#hibernate_references">
		      	<!-- <h4>Chapter 1</h4> -->
		      	<p><strong>References</strong></p>
		      </a>
		    </div>
		  </div>
		</div>
	</div>
  </div>
</nav>

<div ng-include="'app/view/footer.html'"></div>
