<nav class="navbar navbar-inverse">
  <div class="container-fluid common-background-color">

  <div ng-include="'app/view/header.html'"></div>

    <!-- <ul class="breadcrumb">
        <li><a href="#">Home</a></li>
    </ul> -->
    <div class="demo-container demo-container-style">
      	<p class="whiteStyle font-size-breadcrumb">
			&nbsp;
			<a href="#homepage">Home</a> > 
			<a href="#java">Java</a> > 
			<a href="#advancejava">Advance Java</a> >
		</p>
		<p class="whiteStyle font-size-title">&nbsp;Advance Java</p>
	  	<div class="container whiteStyle">
		  <!-- <div class="jumbotron">
		    <h1>My First Bootstrap Page</h1>
		    <p>Resize this responsive page to see the effect!</p> 
		  </div> -->
		  <div class="row">
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#advancejava">
		      	<!-- <h4>Chapter 1</h4> -->
		      	<p><strong>Exceptions and Assertions</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#advancejava">
		      	<!-- <h4>Chapter 2</h4> -->
		      	<p><strong>Input/Ouput</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#advancejava">
		      	<!-- <h4>Chapter 3</h4> -->
		      	<p><strong>Formatting and Parsing</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#advancejava">
		      	<!-- <h4>Chapter 4</h4> -->
		      	<p><strong>Collections</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#advancejava">
		      	<!-- <h4>Chapter 5</h4> -->
		      	<p><strong>Generics</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#advancejava">
		      	<!-- <h4>Chapter 6</h4> -->
		      	<p><strong>Inner Classes</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#advancejava">
		      	<!-- <h4>Chapter 7</h4> -->
		      	<p><strong>Threads</strong></p>
		      </a>
		    </div>
		  </div>
		</div>
    </div>
  </div>
</nav>

<div ng-include="'app/view/footer.html'"></div>
