<nav class="navbar navbar-inverse">
  <div class="container-fluid common-background-color">

	<div ng-include="'app/view/header.html'"></div>

	<!-- <ul class="breadcrumb">
		<li><a href="#">Home</a></li>
		<li><a href="#">{{customer name}}</a></li>
		<li><a href="#">Details</a></li>
	</ul> -->
	<div class="demo-container demo-container-style">
	  	<p class="whiteStyle font-size-breadcrumb">
			&nbsp;
			<a href="#homepage">Home</a> > 
			<a href="#javascript">Javascript</a> >
		</p>
		<p class="whiteStyle font-size-title">&nbsp;Javascript</p>
	  	<div class="container whiteStyle">
		  <!-- <div class="jumbotron">
		    <h1>My First Bootstrap Page</h1>
		    <p>Resize this responsive page to see the effect!</p> 
		  </div> -->
		  <div class="row">
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#javascript">
		      	<!-- <h4>Chapter 1</h4> -->
		      	<p><strong>What Is JavaScript?</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#javascript">
		      	<!-- <h4>Chapter 2</h4> -->
		      	<p><strong>JavaScript in HTML</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#javascript">
		      	<!-- <h4>Chapter 3</h4> -->
		      	<p><strong>Language Basics</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#javascript">
		      	<!-- <h4>Chapter 4</h4> -->
		      	<p><strong>Variables, Scope, Memory</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#javascript">
		      	<!-- <h4>Chapter 5</h4> -->
		      	<p><strong>Reference Types</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#javascript">
		      	<!-- <h4>Chapter 6</h4> -->
		      	<p><strong>Object Oriented Programming</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#javascript">
		      	<!-- <h4>Chapter 7</h4> -->
		      	<p><strong>Function Expressions</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#javascript">
		      	<!-- <h4>Chapter 8</h4> -->
		      	<p><strong>Browser Object Model</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#javascript">
		      	<!-- <h4>Chapter 9</h4> -->
		      	<p><strong>Client Detection</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#javascript">
		      	<!-- <h4>Chapter 10</h4> -->
		      	<p><strong>Document Object Model</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#javascript">
		      	<!-- <h4>Chapter 11</h4> -->
		      	<p><strong>Events</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#javascript">
		      	<!-- <h4>Chapter 12</h4> -->
		      	<p><strong>Scripting Forms</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#javascript">
		      	<!-- <h4>Chapter 13</h4> -->
		      	<p><strong>Graphics with Canvas</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#javascript">
		      	<!-- <h4>Chapter 14</h4> -->
		      	<p><strong>HTML5 Scripting</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#javascript">
		      	<!-- <h4>Chapter 15</h4> -->
		      	<p><strong>Error Handling, Debugging</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#javascript">
		      	<!-- <h4>Chapter 16</h4> -->
		      	<p><strong>JSON</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#javascript">
		      	<!-- <h4>Chapter 17</h4> -->
		      	<p><strong>Ajax and Comet</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#javascript">
		      	<!-- <h4>Chapter 18</h4> -->
		      	<p><strong>Advanced Techniques</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#javascript">
		      	<!-- <h4>Chapter 19</h4> -->
		      	<p><strong>Best Practices</strong></p>
		      </a>
		    </div>
		  </div>
		</div>
	</div>
  </div>
</nav>

<div ng-include="'app/view/footer.html'"></div>
