<nav class="navbar navbar-inverse">
  <div class="container-fluid common-background-color">

	<div ng-include="'app/view/header.html'"></div>

	<!-- <ul class="breadcrumb">
		<li><a href="#">Home</a></li>
		<li><a href="#">{{customer name}}</a></li>
		<li><a href="#">Details</a></li>
	</ul> -->
	<div class="demo-container demo-container-style">
	  	<p class="whiteStyle font-size-breadcrumb">
			&nbsp;
			<a href="#homepage">Home</a> > 
			<a href="#hibernate">Hibernate</a> > 
			<a href="#hibernate_architecture">Architecture</a> >
		</p>
		<p class="whiteStyle font-size-title">&nbsp;Hibernate Architecture</p>
	  	<div class="container whiteStyle">
		  <!-- <div class="jumbotron">
		    <h1>My First Bootstrap Page</h1>
		    <p>Resize this responsive page to see the effect!</p> 
		  </div> -->
		  <div class="row">
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#hibernate_architecture">
		      	<!-- <h4>Chapter 1</h4> -->
		      	<p><strong>Diagram</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#hibernate_architecture">
		      	<!-- <h4>Chapter 1</h4> -->
		      	<p><strong>Configuration</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#hibernate_architecture">
		      	<!-- <h4>Chapter 1</h4> -->
		      	<p><strong>SessionFactory</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#hibernate_architecture">
		      	<!-- <h4>Chapter 1</h4> -->
		      	<p><strong>Session</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#hibernate_architecture">
		      	<!-- <h4>Chapter 1</h4> -->
		      	<p><strong>Transaction</strong></p>
		      </a>
		    </div>
		  </div>
		</div>
	</div>
  </div>
</nav>

<div ng-include="'app/view/footer.html'"></div>
