<nav class="navbar navbar-inverse">
  <div class="container-fluid common-background-color">

	<div ng-include="'app/view/header.html'"></div>

	<!-- <ul class="breadcrumb">
		<li><a href="#">Home</a></li>
		<li><a href="#">{{customer name}}</a></li>
		<li><a href="#">Details</a></li>
	</ul> -->
	<div class="demo-container demo-container-style">
	  	<p class="whiteStyle font-size-breadcrumb">
			&nbsp;
			<a href="#homepage">Home</a> > 
			<a href="#angularjs">Angular JS</a> >
		</p>
		<p class="whiteStyle font-size-title">&nbsp;Angular JS</p>
	  	<div class="container whiteStyle">
		  <!-- <div class="jumbotron">
		    <h1>My First Bootstrap Page</h1>
		    <p>Resize this responsive page to see the effect!</p> 
		  </div> -->
		  <div class="row">
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#angularjs">
		      	<!-- <h4>Chapter 1</h4> -->
		      	<p><strong>Introduction</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#angularjs">
		      	<!-- <h4>Chapter 2</h4> -->
		      	<p><strong>The Basics of AngularJS</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#angularjs">
		      	<!-- <h4>Chapter 3</h4> -->
		      	<p><strong>Data Binding</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#angularjs">
		      	<!-- <h4>Chapter 4</h4> -->
		      	<p><strong>First AngularJS Application</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#angularjs">
		      	<!-- <h4>Chapter 5</h4> -->
		      	<p><strong>Modules</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#angularjs">
		      	<!-- <h4>Chapter 6</h4> -->
		      	<p><strong>Scopes</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#angularjs">
		      	<!-- <h4>Chapter 7</h4> -->
		      	<p><strong>Controllers</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#angularjs">
		      	<!-- <h4>Chapter 8</h4> -->
		      	<p><strong>Expressions</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#angularjs">
		      	<!-- <h4>Chapter 9</h4> -->
		      	<p><strong>Filters</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#angularjs">
		      	<!-- <h4>Chapter 10</h4> -->
		      	<p><strong>Introduction to Directives</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#angularjs">
		      	<!-- <h4>Chapter 11</h4> -->
		      	<p><strong>Built-In Directives</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#angularjs">
		      	<!-- <h4>Chapter 12</h4> -->
		      	<p><strong>Directives Explained</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#angularjs">
		      	<!-- <h4>Chapter 13</h4> -->
		      	<p><strong>Angular Module Loading</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#angularjs">
		      	<!-- <h4>Chapter 14</h4> -->
		      	<p><strong>Multiple Views and Routing</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#angularjs">
		      	<!-- <h4>Chapter 15</h4> -->
		      	<p><strong>Dependency Injection</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#angularjs">
		      	<!-- <h4>Chapter 16</h4> -->
		      	<p><strong>Services</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#angularjs">
		      	<!-- <h4>Chapter 17</h4> -->
		      	<p><strong>XHR and Server-Side Comm.</strong></p>
		      </a>
		    </div>
		  </div>
		</div>
	</div>
  </div>
</nav>

<div ng-include="'app/view/footer.html'"></div>
