<nav class="navbar navbar-inverse">
  <div class="container-fluid common-background-color">

	<div ng-include="'app/view/header.html'"></div>

	<!-- <ul class="breadcrumb">
		<li><a href="#">Home</a></li>
		<li><a href="#">{{customer name}}</a></li>
		<li><a href="#">Details</a></li>
	</ul> -->
	<div class="demo-container demo-container-style">
	  	<p class="whiteStyle font-size-breadcrumb">
			&nbsp;
			<a href="#homepage">Home</a> > 
			<a href="#hibernate">Hibernate</a> > 
			<a href="#hibernate_criteria_query_language">Criteria Query Language</a> >
		</p>
		<p class="whiteStyle font-size-title">&nbsp;Criteria Query Language</p>
	  	<div class="container whiteStyle">
		  <!-- <div class="jumbotron">
		    <h1>My First Bootstrap Page</h1>
		    <p>Resize this responsive page to see the effect!</p> 
		  </div> -->
		  <div class="row">
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#hibernate_criteria_query_language">
		      	<!-- <h4>Chapter 1</h4> -->
		      	<p><strong>Introduction</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#hibernate_criteria_query_language">
		      	<!-- <h4>Chapter 1</h4> -->
		      	<p><strong>Criteria</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#hibernate_criteria_query_language">
		      	<!-- <h4>Chapter 1</h4> -->
		      	<p><strong>Restrictions</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#hibernate_criteria_query_language">
		      	<!-- <h4>Chapter 1</h4> -->
		      	<p><strong>Projections</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#hibernate_criteria_query_language">
		      	<!-- <h4>Chapter 1</h4> -->
		      	<p><strong>Order</strong></p>
		      </a>
		    </div>
		  </div>
		</div>
	</div>
  </div>
</nav>

<div ng-include="'app/view/footer.html'"></div>
