<nav class="navbar navbar-inverse">
  <div class="container-fluid common-background-color">

	<div ng-include="'app/view/header.html'"></div>

	<!-- <ul class="breadcrumb">
		<li><a href="#">Home</a></li>
		<li><a href="#">{{customer name}}</a></li>
		<li><a href="#">Details</a></li>
	</ul> -->
	<div class="demo-container demo-container-style">
	  	<p class="whiteStyle font-size-breadcrumb">
			&nbsp;
			<a href="#homepage">Home</a> > 
			<a href="#extjs">Ext JS</a> >
			<a href="#extjs4">Ext JS 4</a> >
		</p>
		<p class="whiteStyle font-size-title">&nbsp;Ext JS 4</p>
	  	<div class="container whiteStyle">
		  <!-- <div class="jumbotron">
		    <h1>My First Bootstrap Page</h1>
		    <p>Resize this responsive page to see the effect!</p> 
		  </div> -->
		  <div class="row">
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#extjs4">
		      	<!-- <h4>Chapter 1</h4> -->
		      	<p><strong>Object Oriented Principles</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#extjs4">
		      	<!-- <h4>Chapter 2</h4> -->
		      	<p><strong>Structuring your Application</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#extjs4">
		      	<!-- <h4>Chapter 3</h4> -->
		      	<p><strong>Manipulating the DOM</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#extjs4">
		      	<!-- <h4>Chapter 4</h4> -->
		      	<p><strong>Handling Events</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#extjs4">
		      	<!-- <h4>Chapter 5</h4> -->
		      	<p><strong>Making AJAX Requests</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#extjs4">
		      	<!-- <h4>Chapter 6</h4> -->
		      	<p><strong>Laying Out Your Components</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#extjs4">
		      	<!-- <h4>Chapter 7</h4> -->
		      	<p><strong>Trees</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#extjs4">
		      	<!-- <h4>Chapter 8</h4> -->
		      	<p><strong>Panels</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#extjs4">
		      	<!-- <h4>Chapter 9</h4> -->
		      	<p><strong>Data Views</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#extjs4">
		      	<!-- <h4>Chapter 10</h4> -->
		      	<p><strong>Submit and Validate Form</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#extjs4">
		      	<!-- <h4>Chapter 11</h4> -->
		      	<p><strong>Configuring Form Fields</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#extjs4">
		      	<!-- <h4>Chapter 12</h4> -->
		      	<p><strong>Data Package</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#extjs4">
		      	<!-- <h4>Chapter 13</h4> -->
		      	<p><strong>Display, Edit Tabular Data</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#extjs4">
		      	<!-- <h4>Chapter 14</h4> -->
		      	<p><strong>Toolbars with Button, Menu</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#extjs4">
		      	<!-- <h4>Chapter 15</h4> -->
		      	<p><strong>Dependency Injection</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#extjs4">
		      	<!-- <h4>Chapter 16</h4> -->
		      	<p><strong>Drawing and Charting</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#extjs4">
		      	<!-- <h4>Chapter 17</h4> -->
		      	<p><strong>MVC (Model View Controller)</strong></p>
		      </a>
		    </div>
		    <div class="col-xs-4 col-sm-2 content-style">
		      <a href="#extjs4">
		      	<!-- <h4>Chapter 18</h4> -->
		      	<p><strong>Theming your Application</strong></p>
		      </a>
		    </div>
		  </div>
		</div>
	</div>
</div>
</nav>

<div ng-include="'app/view/footer.html'"></div>
